html {
  box-sizing: border-box;

}

*, *::before, *::after {
  box-sizing: inherit;
}

.img-flex {
  display: block;
  width: 100%;
}

.img-circle {
  width: 30%;
  position: absolute;
  top: 3em;
  left: 4em;
}

.banner {
  max-height: 500px;
  position: relative;
}

.banner-body {
  max-width: 50em;
  position: absolute;

}

.banner-title {
  font-size: 4rem;
  position: absolute;
  top: -20rem;
  right: -13em;
  font-family: 'Roboto', sans-serif;
}

p {
  padding-right: 3em;
  float: right;
  font-family: "Roboto Condensed", sans-serif;
}

.btn-big {
  position: absolute;
  display: block;
  background-color: black;
  color: white;
  font-size: 1.5rem;
  border: 3px solid black;
  border-radius: 7px;
  padding: 2em;
}

.btn:hover{
  float: right;
}

body {
overflow: hidden;
}
